
/* Reseteo */
*{
  margin:0px;
  padding: 0px;
}

/* Variables*/
:root {
  --lav-light: #f2deff;
  --lav: #B57EDC;
  --lav-hover: #865aa6;
}


/* Tipografía general */
body {
  font-family: raleway;
}



.bg-lav{
  background-color: #f2deff;
} 

.btn-primary{
  background-color:#B57EDC; 
  border-color: #B57EDC;
  transition: all 0.25s ease-in-out;
}

:not(.btn-check)+.btn:hover{
  background-color:#865aa6; 
  border-color: #865aa6;
  transform: scale(0.9);
}


.nav-link{
  color:#865aa6;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
  color: #865aa6;
}

.alert-success {
  --bs-alert-color: #865aa6;
  --bs-alert-bg: #f2deff;
  --bs-alert-border-color: #f2deff;
}

.accordion {
  --bs-accordion-color: #865aa6;
  --bs-accordion-bg: #f2deff;
  --bs-accordion-border-color: #865aa6;
  --bs-accordion-btn-color: #f2deff;
  --bs-accordion-btn-bg: #f2deff;
  --bs-accordion-btn-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='var%28--bs-body-color%29'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);
  --bs-accordion-btn-focus-border-color: #865aa6;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(208, 121, 211, 0.25);
  --bs-accordion-active-color: #865aa6;
  --bs-accordion-active-bg: #e7f1ff;
}

.accordion-button{
  background-color: #f2deff;
  color: #865aa6;
}


.accordion-button:not(.collapsed){
  background-color: #f2deff;
}

.alert{
margin-bottom: 0;
}









/* Footer */
footer {
  width: 100%;
  background: var(--lav);
  height: 100px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
}

.anchoFooter {
  margin-top: 30px;
}

.redes {

  display: inline-block;
}

.bi-facebook {
  font-size: 30px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color: #fff;
}

.bi-facebook:hover {
  color: #3b5998;
}

.bi-whatsapp {
  font-size: 30px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color: #fff;
}

.bi-whatsapp:hover {
  color: #25D366;
}

.bi-instagram {
  font-size: 30px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color: #fff;
}

.bi-instagram:hover {
  color: #8a3ab9;
}


@media (max-width: 768px) { 
  .mt-mobile{
    margin-top: 3rem;
  } 
}


